@import "tailwindcss";

body {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: rgb(10, 162, 219);
  --scrollbar-thumb-border: #f1f1f1;
}

body.dark-mode {
  --scrollbar-track: #333;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #777;
  --scrollbar-thumb-border: #444;
} 
/* .light-mode {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: rgb(10, 162, 219);
  --scrollbar-thumb-border: #f1f1f1;
} */
 ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-thumb-border);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-hover);
}